<form style="width: 30%" role="form" name="example"
  ng-submit="example.$valid && exampleCtrl.findTravelOptions()">
  <div class="form-group">
    <label for="sourceLoc">Source Coordinates*</label>
    <input type="text"
      class="form-control" ng-model="sourceLat" required />
    <input type="text"
      class="form-control" ng-model="sourceLong" required />
  </div>
  <div class="form-group">
    <label for="destLoc">Destination Coordinates*</label>
    <input type="text"
      class="form-control" ng-model="destLat" required />
    <input type="text"
      class="form-control" ng-model="destLong" required />
  </div>
  <div class="form-group">
    <label for="seats">Seats*</label>
    <select class="form-control" name="seats" 
    data-ng-options="o.value for o in seatOptions" 
    data-ng-model="selectedOption"></select>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled=travel.$invalid>Find My Options</button>
</form>
<div ng-show=showExampleResult>
<b>Total Geographical distance between source and destination is
    {{distance}} Kms.</b>
</div>
<div ng-show=showExampleError>
  <b>API Errors: </b><br>
  {{error}}
</div>