<form name="userForm" id="userForm"
        ng-controller="accountController as accountCtrl"
        ng-submit="accountCtrl.addUser()" novalidate>
        {{status}}
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }">
          <label>Firstname*</label> <input type="text" name="firstname"
            id="firstname" class="form-control" ng-model="user.firstname"
            required>
          <p
            ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine"
            class="help-block">Firstname is required.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
          <label>Lastname*</label> <input type="text" name="lastname"
            id="lastname" class="form-control" ng-model="user.lastname"
            required>
          <p
            ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine"
            class="help-block">Lastname is required.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.account_type.$invalid && !userForm.account_type.$pristine }">
          <label for="account_type">Account Type*</label> <select
            class="form-control" name="account_type" id="account_type"
            ng-model="user.account_type" required>
            <option value="Business">Business</option>
            <option value="Family" selected>Family</option>
            <option value="Student">Student</option>
          </select>
          <p
            ng-show="userForm.account_type.$invalid && !userForm.account_type.$pristine"
            class="help-block">Account type is required.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <label>Email</label> <input type="email" name="email" id="email"
            class="form-control" ng-model="user.email">
          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
            class="help-block">Enter a valid email.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.street.$invalid && !userForm.street.$pristine }">
          <label>Street*</label> <input type="text" name="street" id="street"
            class="form-control" ng-model="user.street" required>
          <p ng-show="userForm.street.$invalid && !userForm.street.$pristine"
            class="help-block">Street is required.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.pincode.$invalid && !userForm.pincode.$pristine }">
          <label>Zipcode</label> <input type="text" name="pincode"
            id="pincode" class="form-control" ng-model="user.pincode"
            ng-minlength="3" ng-maxlength="10">
          <p ng-show="userForm.pincode.$error.minlength" class="help-block">Zipcode
            is too short.</p>
          <p ng-show="userForm.pincode.$error.maxlength" class="help-block">Zipcode
            is too long.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
          <label>City*</label> <input type="text" name="city" id="city"
            class="form-control" ng-model="user.city" required>
          <p ng-show="userForm.city.$invalid && !userForm.city.$pristine"
            class="help-block">City is required.</p>
        </div>
        <div class="form-group"
          ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine }">
          <label>Country*</label> <input type="text" name="country"
            id="country" class="form-control" ng-model="user.country" required>
          <p
            ng-show="userForm.country.$invalid && !userForm.country.$pristine"
            class="help-block">Country is required.</p>
        </div>
        <button id="userFormSubmit" type="submit" class="btn btn-primary"
          ng-disabled="userForm.$invalid">Update Account</button>
      </form>